
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/HomeModel.cshtml";
}


<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="../Home/Index">首页</a></li>
                        <li><a href="../Pages/Show">全部演出</a></li>
                        <li><a href="../Pages/Collect">我的收藏</a></li>
                        <li><a class="menu-top-active" href="../Pages/AUs">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">关于我们</h4>
            </div>
        </div>
        <h2>aaaaaaaaaaaaaaaaa哈哈哈哈哈</h2>
    </div>
</div>
