
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/HomeModel.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">关于我们</h4>
    </div>
</div>
<h2>aaaaaaaaaaaaaaaaa哈哈哈哈哈</h2>
