
@{
    ViewBag.Title = "Collect";
    Layout = "~/Views/Shared/HomeModel.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">我的收藏</h4>
    </div>
</div>
<h2>Collect</h2>

