
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/HomeModel.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">全部演出</h4>
    </div>
</div>
<h2>Show</h2>

