<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MysqlConnectionString" providerName="MYSQL" connectionString="server=127.0.0.1;user id=root;password=Abcd1234;database=test;Charset=utf8 ;SSL Mode=None" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>