<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net461" />
  <package id="Jiguang.JPush" version="1.2.3" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.10.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Quartz" version="2.6.2" targetFramework="net461" />
  <package id="Topshelf" version="4.2.0" targetFramework="net461" />
  <package id="Topshelf.Log4Net" version="4.2.0" targetFramework="net461" />
  <package id="Topshelf.Quartz" version="0.4.0.1" targetFramework="net461" />
</packages>